.pointer-label{
    font-size: 12px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 20px;
    position: absolute;
    z-index: 100;
    pointer-events: none;
}